# JWT Configuration (DEBE SER IDENTICA A LA DE .NET)
JWT_SECRET_KEY=VaibhavBhapkarVaibhavBhapkar
JWT_ISSUER=https://localhost:5001/
JWT_AUDIENCE=https://localhost:5001/
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=43200

# Database Configuration
DB_HOST=db
DB_PORT=3306
DB_NAME=pruebasliguilla
DB_USER=root
DB_PASSWORD=rootroot

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=True

# CORS Origins
CORS_ORIGINS=http://localhost:51297,http://tamara.digimob.mx
