fastapi==0.109.2
uvicorn[standard]==0.27.1
pyjwt==2.8.0
python-dotenv==1.0.1
sqlalchemy==2.0.25
pymysql==1.1.0
cryptography==42.0.2
pydantic==2.6.1
pydantic-settings==2.1.0
python-multipart==0.0.9
passlib==1.7.4
bcrypt==4.1.2

# Para manejo de archivos e imágenes
Pillow==10.2.0
aiofiles==23.2.1

# Para procesamiento de video
python-magic==0.4.27

# Para S3 (futuro)
boto3==1.34.51
