<!DOCTYPE html>
<html>
<head>
    <center>
        <p><img src="https://scontent.fmid1-4.fna.fbcdn.net/v/t39.30808-1/293945226_150512364298909_134743129559109145_n.jpg?stp=cp0_dst-jpg_e15_p120x120_q65&_nc_cat=101&ccb=1-7&_nc_sid=dbb9e7&_nc_ohc=Iv7UuOAStiAAX-wsxK7&_nc_ht=scontent.fmid1-4.fna&oh=00_AfA6UsqPDwHrtXjI0ciqgpYx2yZBD56uSzYu4EtrozKSow&oe=63C70C31" alt="" width="107" height="64" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
        <p><strong>HOLA!</strong></p>
        <h4>Haga click en el siguiente enlace para restablecer tu contrase&ntilde;a.</h4>
        <h4><a href="{flink}"> Restablecer la contrase&ntilde;a</a></h4>
    </center>
</head>
<body>

</body>
</html>